<!--Footer -->
<footer
  id="footer"
  class="px-[24px] pt-[24px] pb-[16px] bg-white"
  style="border-top: 1px solid rgba(0, 0, 0, 0.1)"
>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-y-8 gap-x-6 lg:px-[96px] md:pt-[96px] xl:grid-cols-6 max-w-[1500px] mx-auto"
  >
    <div class="col-span-1 sm:col-span-2 lg:col-span-4 xl:col-span-2">
      <h2 class="text-2xl font-semibold mb-3 text-slate-900">Over Ons</h2>
      <hr class="w-28 border-none h-[2px] rounded-md bg-red-300 mb-3" />
      <p class="text-sm max-w-sm sm:max-w-md text-gray-600">
        We zijn gedreven in het creëren van websites die opvallen. Samen
        realiseren we jouw digitale visie.
        <span class="font-bold">Popken Web Solutions</span>, jouw partner in
        online succes.
      </p>
    </div>
    <div class="col-span-1">
      <h2 class="text-2xl font-semibold mb-3 text-slate-900">Links</h2>
      <hr class="w-28 border-none h-[2px] rounded-md bg-red-300 mb-3" />
      <ul class="text-sm text-gray-500 flex flex-col gap-3">
        <li><a class="hover:text-red-500" href="/">Home</a></li>
        <li><a class="hover:text-red-500" href="/about">Over ons</a></li>

        <li><a class="hover:text-red-500" href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="col-span-1">
      <h2 class="text-2xl font-semibold mb-3 text-slate-900">Diensten</h2>
      <hr class="w-28 border-none h-[2px] rounded-md bg-red-300 mb-3" />
      <ul class="text-sm text-gray-500 flex flex-col gap-3">
        <li>
          <a class="hover:text-red-500" href="/website">Website laten maken</a>
        </li>
        <li>
          <a class="hover:text-red-500" href="/webshop">Webshop laten maken</a>
        </li>
        <li>
          <a class="hover:text-red-500" href="/webbeheer"
            >Onderhoud & Support</a
          >
        </li>
      </ul>
    </div>
    <div class="col-span-1">
      <h2 class="text-2xl font-semibold mb-3 text-slate-900">Algemeen</h2>
      <hr class="w-28 border-none h-[2px] rounded-md bg-red-300 mb-3" />
      <ul class="text-sm text-gray-500 flex flex-col gap-3">
        <li><a class="hover:text-red-500" href="#">Privacy Policy</a></li>
        <li>
          <a class="hover:text-red-500" href="#">Algemene Voorwaarden</a>
        </li>
        <li>
          <a class="hover:text-red-500" href="/faq">Veelgestelde Vragen</a>
        </li>
        <li><a class="hover:text-red-500" href="#">Werken Bij</a></li>
      </ul>
    </div>
    <div class="col-span-1">
      <h2 class="text-2xl font-semibold mb-3 text-slate-900">Contact</h2>
      <hr class="w-28 border-none h-[2px] rounded-md bg-red-300 mb-3" />
      <ul class="text-sm text-gray-500 flex flex-col gap-3">
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z"
            />
          </svg>

          9406 RN, Assen
        </li>
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-4 h-4"
          >
            <path
              fill-rule="evenodd"
              d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
              clip-rule="evenodd"
            />
          </svg>
          <a href="">+31 6 23 14 49 99</a>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
            />
            <path
              d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
            />
          </svg>
          <a href="mailto:info@popkenwebsolutions.nl"
            >info@popkenwebsolutions.nl</a
          >
        </li>
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z"
            />
          </svg>
          KvK:
          <a
            href="https://www.kvk.nl/zoeken/handelsregister/?kvknummer=90378180"
            >90378180</a
          >
        </li>
      </ul>
    </div>
    <div
      class="mt-6 col-span-1 sm:col-span-2 lg:col-span-4 xl:col-span-6 text-center"
    >
      <p class="text-sm">
        Copyright 2023 &copy;
        <a class="text-slate-900 hover:underline" href="#"
          >Popken Web Solutions</a
        >
        .
        <br class="md:hidden" />
        All rights reserved.
      </p>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script defer type="module" src="js/main.js"></script>
