<!DOCTYPE html>
<html lang="en">
  <%- include('components/header') %>
  <body>
    <main>
      <!-- Contact hero section -->
      <section
        id="hero"
        class="bg-center bg-cover bg-no-repeat bg-gray-700 bg-blend-multiply"
        style="background-image: url(./images/faq-bg.webp)"
      >
        <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
          <h1
            class="mb-6 text-4xl max-w-4xl mx-auto font-extrabold tracking-tight leading-10 text-gray-200 md:text-5xl lg:text-6xl"
          >
            Ontdek de antwoorden op veelgestelde vragen.
          </h1>
          <p
            class="mb-8 text-lg font-normal text-gray-300 lg:text-lg sm:px-16 lg:px-48"
          >
            We hebben de meest gestelde vragen verzameld en duidelijke
            antwoorden voor je opgesteld.
          </p>
        </div>
      </section>

      <!-- FAQ page content -->
      <section class="py-[96px]">
        <div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen">
          <div class="flex flex-col items-center">
            <h2 class="font-bold text-5xl mt-5 tracking-tight">
              Veelgestelde Vragen
            </h2>
          </div>
          <div
            class="grid gap-x-[48px] divide-y divide-neutral-200 max-w-4xl mx-auto mt-8"
          >
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Wat houdt een website laten maken precies in?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  Een website laten maken houdt in dat wij een professionele en
                  functionele website voor jou ontwerpen en ontwikkelen op basis
                  van jouw wensen en behoeften.
                </p>
              </details>
            </div>
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Hoe lang duurt het om een website te laten maken?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  De tijd die nodig is om een website te laten maken varieert,
                  afhankelijk van de omvang en complexiteit van het project.
                  Gemiddeld duurt het proces
                  <span class="font-bold">4-6 weken</span>.
                </p>
              </details>
            </div>
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Welke informatie heb je van mij nodig om een website te
                    maken?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  We zullen je begeleiden bij het verzamelen van alle benodigde
                  informatie en inzichten om een website te maken die perfect
                  past bij jouw bedrijf en doelstellingen.
                </p>
              </details>
            </div>
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Kan ik zelf mijn website aanpassen na de oplevering?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  Nee, maar u kunt gebruik maken van onze
                  <span class="font-bold">onderhoud & support service</span>.
                  Meer informatie kunt u
                  <a class="text-blue-700 underline" href="/webbeheer">hier</a>
                  vinden
                </p>
              </details>
            </div>
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Zorgen jullie ook voor de hosting van de website?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  Ook dit kunnen wij geheel verzorgen voor u. Denk hierbij aan
                  het inschrijven van een domeinnaam en aanmaken van
                  emailadressen onder uw bedrijfsnaam. Enkel de kosten voor de
                  domeinnaam komen voor uw rekening.
                </p>
              </details>
            </div>
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Wat zijn de voordelen van een professionele webshop?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  Met een professionele webshop van Popken Web Solutions
                  vergroot je je online zichtbaarheid en creëer je een platform
                  waarop je potentiële klanten kunt aantrekken en converteren.
                </p>
              </details>
            </div>
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Is het mogelijk om een webshop te laten maken in meerdere
                    talen?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  Ja, we kunnen je webshop in meerdere talen laten maken, zodat
                  je internationale klanten kunt bereiken en bedienen.
                </p>
              </details>
            </div>
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Kunnen jullie zorgen voor integratie van betaalmethoden in
                    de webshop?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  We zorgen voor een naadloze integratie van verschillende
                  betaalmethoden, zodat je klanten gemakkelijk en veilig kunnen
                  afrekenen in je webshop. Hiervoor werken wij met de software
                  van Stripe en kunt u uw klanten laten betalen met iDeal,
                  creditcard, PayPal etc.
                </p>
              </details>
            </div>
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Hoe zit het met de veiligheid van mijn webshop en de
                    gegevens van klanten?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  Bij Popken Web Solutions hebben we veel aandacht voor de
                  veiligheid van je webshop en de gegevens van je klanten. We
                  zorgen voor veilige betalingsgateways, SSL-certificaten en
                  regelmatige updates om potentiële beveiligingsrisico's te
                  minimaliseren.
                </p>
              </details>
            </div>
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Welke functionaliteiten kunnen jullie toevoegen aan mijn
                    webshop?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  We kunnen verschillende functionaliteiten toevoegen aan je
                  webshop, zoals zoekfilters, klantrecensies, upselling- en
                  cross-sellingmogelijkheden, en meer.
                </p>
              </details>
            </div>
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Wat houdt het beheer van een website precies in?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  Het beheer van een website omvat alle aspecten van het
                  onderhoud en de aanpassingen die nodig zijn om je website
                  optimaal te laten functioneren. Dit omvat onder andere het
                  bijwerken van inhoud, het toevoegen of verwijderen van
                  pagina's, het aanpassen van afbeeldingen en het oplossen van
                  eventuele technische problemen.
                </p>
              </details>
            </div>
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Hoe vaak wordt het onderhoud uitgevoerd?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  Het onderhoud wordt regelmatig uitgevoerd, afhankelijk van uw
                  specifieke behoeften en het gekozen onderhoudsabonnement. We
                  zorgen ervoor dat uw website up-to-date blijft en dat
                  eventuele problemen snel worden opgelost.
                </p>
              </details>
            </div>
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Kan ik zelf ook kleine aanpassingen aan mijn website
                    doen?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  Bij ons beheer hoef je je geen zorgen te maken over het zelf
                  doen van aanpassingen. Wij nemen alle aanpassingen en updates
                  voor onze rekening, zodat je je kunt richten op je bedrijf en
                  je website in goede handen is.
                </p>
              </details>
            </div>
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Bieden jullie ook support buiten kantooruren?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  Ja, we bieden ook support buiten kantooruren. Bij eventuele
                  dringende problemen of vragen kun je op ons rekenen, ongeacht
                  het tijdstip van de dag. Klik
                  <a class="text-blue-700 underline" href="/webbeheer">hier</a>
                  voor meer informatie
                </p>
              </details>
            </div>
            <div class="py-5">
              <details class="group">
                <summary
                  class="flex justify-between items-center font-medium cursor-pointer list-none"
                >
                  <span class="font-bold">
                    Hoe lang duurt het voordat jullie een aanpassing aan mijn
                    website hebben doorgevoerd?</span
                  >
                  <span class="transition group-open:rotate-180">
                    <svg
                      fill="none"
                      height="24"
                      shape-rendering="geometricPrecision"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </summary>
                <p
                  class="text-neutral-600 leading-7 mt-3 group-open:animate-fadeIn"
                >
                  De tijd die nodig is om een aanpassing aan je website door te
                  voeren, kan variëren afhankelijk van de complexiteit van de
                  aanpassing en onze huidige werkbelasting. We streven er echter
                  altijd naar om wijzigingen zo snel mogelijk door te voeren en
                  u op de hoogte te houden van de voortgang.
                </p>
              </details>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
