<!DOCTYPE html>
<html lang="en">
  <%- include('components/header') %>
  <body>
    <main>
      <!-- Contact hero section -->
      <section
        id="hero"
        class="bg-center bg-cover bg-no-repeat bg-gray-700 bg-blend-multiply"
        style="background-image: url(./images/onderhoud-bg.webp)"
      >
        <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
          <h1
            class="mb-6 text-4xl max-w-4xl mx-auto font-extrabold tracking-tight leading-10 text-gray-200 md:text-5xl lg:text-6xl"
          >
            <span
              style="
                background-image: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ef4444);
              "
              >Efficiënt</span
            >
            en zorgeloos websitebeheer.
          </h1>
          <p
            class="mb-8 text-lg font-normal text-gray-300 lg:text-lg sm:px-16 lg:px-48"
          >
            Laat het onderhoud en de updates aan ons over, zodat jij je kunt
            richten op je core business.
          </p>
        </div>
      </section>

      <!-- Maintenance page content -->
      <section class="py-[96px] max-w-[1280px] mx-auto text-[#333]">
        <div>
          <div class="grid lg:grid-cols-2">
            <div class="p-4">
              <h2 class="text-4xl font-bold mb-6">Website beheer</h2>
              <p class="max-w-1xl leading-8 text-lg mb-8">
                Met ons websitebeheer bieden wij jou de mogelijkheid om
                <span class="font-bold">zorgeloos</span> je website up-to-date
                te houden. Wij begrijpen dat je geen tijd wilt besteden aan het
                leren van complexe CMS-systemen. <br />Daarom nemen wij het
                beheer volledig uit handen. Of het nu gaat om het toevoegen van
                nieuwe producten aan je webshop of het bijwerken van artikelen
                op je blog, wij regelen het voor je. Zo kun jij je volledig
                concentreren op jouw bedrijf, terwijl wij zorgen dat je website
                altijd
                <span class="font-bold">actueel en professioneel</span> blijft.
              </p>
              <ul class="grid grid-cols-1 sm:grid-cols-2">
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Tijdsbesparing
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Professioneel beheer
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Geen technische kennis nodig
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Snelle updates
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Betrouwbare ondersteuning
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Veiligheid en beveiliging
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Schaalbaarheid
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Focus op je bedrijf
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Kwaliteit en consistentie
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Kostenbesparing
                </li>
              </ul>
            </div>
            <img
              class="p-4 self-center justify-self-center"
              style="width: 600px; height: 350px; object-fit: cover"
              src="images/illustrations/ecommerce.svg"
              alt=""
            />
          </div>
        </div>
      </section>

      <!-- Pricing section -->
      <section class="pb-[96px]">
        <div
          class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
        >
          <div class="max-w-xl mb-10 mx-auto text-center lg:max-w-2xl md:mb-12">
            <h2
              class="max-w-2xl mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl mx-auto"
            >
              Kies het abonnement dat bij jou past
            </h2>
            <p class="text-base text-gray-700 md:text-lg">
              Ontdek onze abonnementen en laat je website zorgeloos beheren
              terwijl jij je kunt focussen op je bedrijf.
            </p>
          </div>
          <div
            class="flex w-fit mx-auto border-2 justify-center border-red-500 rounded overflow-hidden mt-6 mb-10"
          >
            <button
              id="monthly"
              class="py-1 px-4 bg-red-500 text-white focus:outline-none"
            >
              Maandelijks
            </button>
            <button id="annually" class="py-1 px-4 focus:outline-none">
              Jaarlijks
            </button>
          </div>
          <div
            class="grid max-w-md gap-10 row-gap-5 lg:max-w-screen-lg sm:row-gap-10 lg:grid-cols-3 xl:max-w-screen-lg mx-auto"
          >
            <div
              class="flex flex-col justify-between p-8 transition-shadow duration-300 bg-white border rounded shadow-sm sm:items-center hover:shadow"
            >
              <div class="text-center">
                <div class="text-lg font-semibold mb-3">
                  Basis Ondersteuning
                </div>
                <p class="text-sm font-bold">V.A.</p>
                <div class="flex items-center justify-center">
                  <div class="mr-1 text-5xl font-bold">
                    €<span id="price">25</span>
                  </div>
                  <div id="freq" class="text-gray-700">/ mnd</div>
                </div>
                <div class="mt-2 space-y-3">
                  <div class="text-gray-700">Ondersteuning via email</div>
                  <div class="text-gray-700">
                    Beschikbaarheid: maandag t/m vrijdag, 09:00 - 17:00 uur
                  </div>
                  <div class="text-gray-700">Reactietijd: binnen 24 uur</div>
                </div>
              </div>
              <div>
                <a
                  href="/contact"
                  class="inline-flex items-center justify-center w-full h-12 px-6 mt-6 font-medium tracking-wide text-white transition duration-200 bg-gray-800 rounded shadow-md hover:bg-gray-900 focus:shadow-outline focus:outline-none"
                >
                  Vraag offerte aan
                </a>
                <p
                  class="max-w-xs mt-6 text-xs text-gray-600 sm:text-center sm:max-w-sm sm:mx-auto"
                >
                  Prijzen zijn exclusief btw en kunnen onderhevig zijn aan
                  wijzigingen. Houd rekening met eventuele feestdagen.
                </p>
              </div>
            </div>
            <div
              class="relative flex flex-col justify-between p-8 transition-shadow duration-300 bg-white border rounded shadow-sm sm:items-center hover:shadow border-red-500"
            >
              <div class="absolute inset-x-0 top-0 flex justify-center -mt-3">
                <div
                  class="inline-block px-3 py-1 text-xs font-medium tracking-wider text-white uppercase rounded bg-red-500"
                >
                  Meest gekozen
                </div>
              </div>
              <div class="text-center">
                <div class="text-lg font-semibold mb-3">
                  Premium Ondersteuning
                </div>
                <p class="text-sm font-bold">V.A.</p>
                <div class="flex items-center justify-center">
                  <div class="mr-1 text-5xl font-bold">
                    €<span id="price">35</span>
                  </div>
                  <div id="freq" class="text-gray-700">/ mnd</div>
                </div>
                <div class="mt-2 space-y-3">
                  <div class="text-gray-700">
                    Live ondersteuning via telefoon
                  </div>
                  <div class="text-gray-700">
                    Beschikbaarheid: maandag tot en met vrijdag, 9:00 - 17:00
                    uur
                  </div>
                  <div class="text-gray-700">
                    Reactietijd: directe hulp tijdens kantooruren
                  </div>
                </div>
              </div>
              <div>
                <a
                  href="/contact"
                  class="inline-flex items-center justify-center w-full h-12 px-6 mt-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-red-500 hover:bg-red-700 focus:shadow-outline focus:outline-none"
                >
                  Vraag offerte aan
                </a>
                <p
                  class="max-w-xs mt-6 text-xs text-gray-600 sm:text-center sm:max-w-sm sm:mx-auto"
                >
                  Prijzen zijn exclusief btw en kunnen onderhevig zijn aan
                  wijzigingen. Houd rekening met eventuele feestdagen.
                </p>
              </div>
            </div>
            <div
              class="flex flex-col justify-between p-8 transition-shadow duration-300 bg-white border rounded shadow-sm sm:items-center hover:shadow"
            >
              <div class="text-center">
                <div class="text-lg font-semibold mb-3">
                  Premium+ Ondersteuning
                </div>
                <p class="text-sm font-bold">V.A.</p>
                <div class="flex items-center justify-center">
                  <div class="mr-1 text-5xl font-bold">
                    €<span id="price">45</span>
                  </div>
                  <div id="freq" class="text-gray-700">/ mnd</div>
                </div>
                <div class="mt-2 space-y-3">
                  <div class="text-gray-700">
                    24/7 Live ondersteuning via telefoon
                  </div>
                  <div class="text-gray-700">
                    Beschikbaarheid: de klok rond, inclusief weekends
                  </div>
                  <div class="text-gray-700">
                    Reactietijd: directe hulp altijd, dag en nacht
                  </div>
                </div>
              </div>
              <div>
                <a
                  href="/contact"
                  class="inline-flex items-center justify-center w-full h-12 px-6 mt-6 font-medium tracking-wide text-white transition duration-200 bg-gray-800 rounded shadow-md hover:bg-gray-900 focus:shadow-outline focus:outline-none"
                >
                  Vraag offerte aan
                </a>
                <p
                  class="max-w-xs mt-6 text-xs text-gray-600 sm:text-center sm:max-w-sm sm:mx-auto mb-5"
                >
                  Prijzen zijn exclusief btw en kunnen onderhevig zijn aan
                  wijzigingen.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Portfolio section -->
      <section class="pt-[48px] px-4 pb-[96px]">
        <div class="max-w-[1280px] mx-auto">
          <div>
            <h3 class="text-4xl font-bold mb-4 text-slate-900 z-10">
              Recente opdrachten & projecten
            </h3>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-8">
            <div class="rounded-lg overflow-hidden relative">
              <a href="https://hyperfitness.netlify.app/">
                <picture>
                  <source
                    srcset="images/mockups/mockup-hyperfitness.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="images/mockups/mockup-hyperfitness.png"
                    type="image/png"
                  />
                  <img
                    class="h-[350px] w-full object-cover hover:bg-red-400"
                    src="images/mockups/mockup-hyperfitness.png"
                    alt=""
                  />
                </picture>
              </a>
              <p
                class="absolute bottom-5 left-[50%] translate-x-[-50%] font-bold text-2xl text-gray-800 lg:text-white"
              >
                Hyperfitness
              </p>
            </div>
            <div class="rounded-lg overflow-hidden relative">
              <a href="https://thecarbuyersguide.netlify.app/">
                <picture>
                  <source
                    srcset="images/mockups/mockup-TCBG.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="images/mockups/mockup-TCBG.png"
                    type="image/png"
                  />
                  <img
                    class="h-[350px] w-full object-cover hover:bg-red-400"
                    src="images/mockups/mockup-TCBG.png"
                    alt=""
                  />
                </picture>
              </a>
              <p
                class="absolute bottom-5 left-[50%] w-full translate-x-[-50%] font-bold text-2xl text-gray-800 lg:text-white text-center leading-6"
              >
                The Car Buyers Guide
              </p>
            </div>
            <div class="rounded-lg overflow-hidden relative">
              <a href="https://earthenwarepottery.netlify.app/">
                <picture>
                  <source
                    srcset="images/mockups/mockup-earthenware.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="images/mockups/mockup-earthenware.png"
                    type="image/png"
                  />
                  <img
                    class="h-[350px] w-full object-cover hover:bg-red-400"
                    src="images/mockups/mockup-earthenware.png"
                    alt=""
                  />
                </picture>
              </a>
              <p
                class="absolute bottom-5 w-full left-[50%] translate-x-[-50%] font-bold text-2xl text-gray-800 lg:text-white text-center leading-6"
              >
                Earthenware Pottery
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- CTA section -->
      <section class="bg-[#CAEBF2] py-[96px] px-4">
        <div
          class="max-w-[1280px] mx-auto flex justify-center items-center flex-col"
        >
          <h1 class="text-center text-4xl font-bold text-[#333] mb-4">
            Vraag vrijblijvend een offerte aan.
          </h1>
          <p class="text-center text-gray-600 text-base mb-8">
            Ontdek wat we voor jou kunnen betekenen en vraag vrijblijvend een
            offerte aan.
          </p>
          <a
            href="/contact"
            class="inline-flex justify-center items-center py-2 px-4 text-sm font-semibold text-center text-white rounded-lg bg-red-500 hover:bg-red-700 focus:ring-4 focus:ring-red-300"
          >
            Offerte aanvragen
          </a>
        </div>
      </section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
