<!DOCTYPE html>
<html lang="nl">
  <%- include('components/header') %>
  <body>
    <main>
      <!-- Contact hero section -->
      <section
        id="hero"
        class="bg-center bg-cover bg-no-repeat bg-gray-700 bg-blend-multiply"
        style="background-image: url(./images/webshop-bg.webp)"
      >
        <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
          <h1
            class="mb-6 text-4xl max-w-4xl mx-auto font-extrabold tracking-tight leading-10 text-gray-200 md:text-5xl lg:text-6xl"
          >
            <span
              style="
                background-image: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ef4444);
              "
              >Professionele</span
            >
            webshops<br />
            op maat gemaakt.
          </h1>
          <p
            class="mb-8 text-lg font-normal text-gray-300 lg:text-lg sm:px-16 lg:px-48"
          >
            Van concept tot conversie, wij creëren jouw ideale online winkel.
          </p>
        </div>
      </section>

      <!-- Website page content -->
      <section class="py-[96px] max-w-[1280px] mx-auto text-[#333]">
        <div>
          <div class="grid lg:grid-cols-2">
            <div class="p-4">
              <h2 class="text-4xl font-bold mb-6">Webshop laten maken</h2>
              <p class="max-w-1xl leading-8 text-lg mb-8">
                Wil je een <span class="font-bold">effectieve</span> webshop die
                bijdraagt aan het succes van je bedrijf? Bij Popken Web
                Solutions begrijpen we dat een goed ontworpen en doordachte
                webshop een <span class="font-bold">krachtig middel</span> is om
                je online aanwezigheid te versterken en je klantenbestand te
                vergroten.
              </p>
              <ul class="grid grid-cols-1 sm:grid-cols-2">
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Professioneel webdesign
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Maatwerkfunctionaliteiten
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Responsief ontwerp
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Veilige betalingsmogelijkheden
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Zoekmachineoptimalisatie (SEO)
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Eenvoudig beheer
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Schaalbaarheid
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Snelle laadtijden
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Ondersteuning en updates
                </li>
                <li
                  class="mb-3 flex gap-2 items-center sm:justify-start justify-center font-semibold"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 text-red-500"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 12.75l6 6 9-13.5"
                    />
                  </svg>
                  Conversiegericht ontwerp
                </li>
              </ul>
            </div>
            <img
              class="p-4 self-center justify-self-center"
              style="width: 600px; height: 350px; object-fit: cover"
              src="images/illustrations/ecommerce.svg"
              alt=""
            />
          </div>
        </div>
      </section>

      <!-- About us features -->
      <section class="bg-white pb-[96px]">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
          <div
            class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
          >
            <div
              class="hover:translate-y-[-10px] transition-all duration-300 cursor-default"
            >
              <div
                class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-red-100 lg:h-12 lg:w-12"
              >
                <p class="font-bold text-red-500 text-xl">1</p>
              </div>
              <h3 class="mb-2 text-xl font-bold">
                Kennismaking en behoefteanalyse
              </h3>
              <p class="text-gray-500 leading-8">
                We gaan met jou in gesprek om je bedrijf en doelen te begrijpen,
                zodat we een website kunnen ontwikkelen die perfect past bij
                jouw behoeften.
              </p>
            </div>
            <div
              class="hover:translate-y-[-10px] transition-all duration-300 cursor-default"
            >
              <div
                class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-red-100 lg:h-12 lg:w-12"
              >
                <p class="font-bold text-red-500 text-xl">2</p>
              </div>
              <h3 class="mb-2 text-xl font-bold">Concept en ontwerp</h3>
              <p class="text-gray-500 leading-8">
                We creëren een uniek en aantrekkelijk ontwerp dat jouw
                merkidentiteit weerspiegelt en de juiste doelgroep aanspreekt.
              </p>
            </div>
            <div
              class="hover:translate-y-[-10px] transition-all duration-300 cursor-default"
            >
              <div
                class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-red-100 lg:h-12 lg:w-12"
              >
                <p class="font-bold text-red-500 text-xl">3</p>
              </div>
              <h3 class="mb-2 text-xl font-bold">
                Ontwikkeling en implementatie
              </h3>
              <p class="text-gray-500 leading-8">
                Met onze expertise zetten we het ontwerp om in een functionele
                en responsieve website. We zorgen ervoor dat je website er
                geweldig uitziet en vlekkeloos werkt, zodat jij online kunt
                stralen.
              </p>
            </div>
            <div
              class="hover:translate-y-[-10px] transition-all duration-300 cursor-default"
            >
              <div
                class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-red-100 lg:h-12 lg:w-12"
              >
                <p class="font-bold text-red-500 text-xl">4</p>
              </div>
              <h3 class="mb-2 text-xl font-bold">
                Contentcreatie en optimalisatie
              </h3>
              <p class="text-gray-500 leading-8">
                We helpen je bij het creëren van overtuigende en relevante
                content die je doelgroep aanspreekt en de vindbaarheid van je
                website verbetert.
              </p>
            </div>
            <div
              class="hover:translate-y-[-10px] transition-all duration-300 cursor-default"
            >
              <div
                class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-red-100 lg:h-12 lg:w-12"
              >
                <p class="font-bold text-red-500 text-xl">5</p>
              </div>
              <h3 class="mb-2 text-xl font-bold">Testen en optimaliseren</h3>
              <p class="text-gray-500 leading-8">
                We voeren uitgebreide tests uit om ervoor te zorgen dat je
                website foutloos werkt en bieden waar nodig optimalisaties aan
                voor een optimale gebruikerservaring.
              </p>
            </div>
            <div
              class="hover:translate-y-[-10px] transition-all duration-300 cursor-default"
            >
              <div
                class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-red-100 lg:h-12 lg:w-12"
              >
                <p class="font-bold text-red-500 text-xl">6</p>
              </div>
              <h3 class="mb-2 text-xl font-bold">Lancering en ondersteuning</h3>
              <p class="text-gray-500 leading-8">
                Na een grondige controle en jouw goedkeuring lanceren we je
                website en bieden we voortdurende ondersteuning om ervoor te
                zorgen dat je online succes blijft groeien.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Portfolio section -->
      <section class="pt-[48px] px-4 pb-[96px]">
        <div class="max-w-[1280px] mx-auto">
          <div>
            <h3 class="text-4xl font-bold mb-4 text-slate-900 z-10">
              Recente opdrachten & projecten
            </h3>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-8">
            <div class="rounded-lg overflow-hidden relative">
              <a href="https://hyperfitness.netlify.app/">
                <picture>
                  <source
                    srcset="images/mockups/mockup-hyperfitness.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="images/mockups/mockup-hyperfitness.png"
                    type="image/png"
                  />
                  <img
                    class="h-[350px] w-full object-cover hover:bg-red-400"
                    src="images/mockups/mockup-hyperfitness.png"
                    alt=""
                  />
                </picture>
              </a>
              <p
                class="absolute bottom-5 left-[50%] translate-x-[-50%] font-bold text-2xl text-gray-800 lg:text-white"
              >
                Hyperfitness
              </p>
            </div>
            <div class="rounded-lg overflow-hidden relative">
              <a href="https://thecarbuyersguide.netlify.app/">
                <picture>
                  <source
                    srcset="images/mockups/mockup-TCBG.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="images/mockups/mockup-TCBG.png"
                    type="image/png"
                  />
                  <img
                    class="h-[350px] w-full object-cover hover:bg-red-400"
                    src="images/mockups/mockup-TCBG.png"
                    alt=""
                  />
                </picture>
              </a>
              <p
                class="absolute bottom-5 left-[50%] w-full translate-x-[-50%] font-bold text-2xl text-gray-800 lg:text-white text-center leading-6"
              >
                The Car Buyers Guide
              </p>
            </div>
            <div class="rounded-lg overflow-hidden relative">
              <a href="https://earthenwarepottery.netlify.app/">
                <picture>
                  <source
                    srcset="images/mockups/mockup-earthenware.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="images/mockups/mockup-earthenware.png"
                    type="image/png"
                  />
                  <img
                    class="h-[350px] w-full object-cover hover:bg-red-400"
                    src="images/mockups/mockup-earthenware.png"
                    alt=""
                  />
                </picture>
              </a>
              <p
                class="absolute bottom-5 w-full left-[50%] translate-x-[-50%] font-bold text-2xl text-gray-800 lg:text-white text-center leading-6"
              >
                Earthenware Pottery
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- CTA section -->
      <section class="bg-[#CAEBF2] py-[96px] px-4">
        <div
          class="max-w-[1280px] mx-auto flex justify-center items-center flex-col"
        >
          <h1 class="text-center text-4xl font-bold text-[#333] mb-4">
            Vraag vrijblijvend een offerte aan.
          </h1>
          <p class="text-center text-gray-600 text-base mb-8">
            Ontdek wat we voor jou kunnen betekenen en vraag vrijblijvend een
            offerte aan.
          </p>
          <a
            href="/contact"
            class="inline-flex justify-center items-center py-2 px-4 text-sm font-semibold text-center text-white rounded-lg bg-red-500 hover:bg-red-700 focus:ring-4 focus:ring-red-300"
          >
            Offerte aanvragen
          </a>
        </div>
      </section>
    </main>

    <%- include('components/footer') %>
  </body>
</html>
